.App {
}

form {
    margin-top: 15px;
}

.completed-div {
    text-align: right;
}

.completed-div button {
    margin-top: 20px;
}

table {
    margin-top: 20px;
}

.table-heading {
    padding-top: 10px;
    font-weight: bold;
}

.completed {
    background: #dc3545;
    color: white;
}

@media (min-width: 1200px) {
    .container {
        max-width: 720px;
    }
}
